// ---------------------------BOOTSTRAP OVERRIDES-------------------------------
// New colours added to bootstrap CSS.  Can be used as variants of bootstrap
// components, eg 'btn-red'.

// ---------------------APP WIDE CSS-----------------------


body {
    font-family: Content-font, Roboto, sans-serif;
    //background-color: #e1e6e2;
    background-color: #F5F5F5;
}

p {
  margin: auto;
}


.pageContainer {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  flex-flow: column;
  max-height: 100vh;
  height: 100vh;
}

.navWrap {
  margin-bottom: 40px;
  flex-basis: auto;
}

.pageWrap {
  flex-grow: 1;
  flex-shrink: 1;
  margin-bottom: 10px;
}

.footerWrap {
  position: sticky;
  flex-basis: auto;
  flex-shrink: 0;
  bottom: 0;
}

// ERROR PAGE ------------------------------------------------------------------
.Errorbox {
  margin: auto;
  height: 600px;
  width: 600px;
  position: relative;
}

.errorImage {
  position: absolute;
  left: 30%;
  top: 10%;
}

.msg {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    position:absolute;
    left: 16%;
    top: 50%;
    width: 75%;
  }

.errorMessageTitle {
    margin-top: 50%;
    font-size: 17px;
  }

.errorMessage {
    color: grey;
    font-size: 17px;
  }

a {
  text-decoration: none;
  color: #68A090;
}

a:hover {
  text-decoration: underline;
}
