// ---------------------------BOOTSTRAP OVERRIDES-------------------------------
// New colours added to bootstrap CSS.  Can be used as variants of bootstrap
// components, eg 'btn-red'.
$theme-colors: (
    green: #189418,
    orange: #b35000,
    red: #b40000,
    purple: #7c35ff,
    navy: #0300bd,
    turquoise: #0099b4,
    primary: #404040,
    4E43CC: #4E43CC,  // fail WCAG
    0A5D93: #0A5D93,  // fail WCAG
    376334: #376334,  // fail WCAG
    4E2780: #4E2780,  // fail WCAG
    84ED64: #84ED64,  // pass WCAG
    FFBD00: #FFBD00,  // pass WCAG
    FDE74C: #FDE74C,  // pass WCAG
    E861E8: #e861e8,  // pass WCAG
    94D1BE: #94D1BE,  // pass WCAG
    B20034: #B20034,  // fail WCAG
    A72B00: #A72B00,  // fail WCAG
    553555: #553555,  // pass WCAG
    9E0059: #9E0059,  // pass WCAG
    754B69: #754B69,  // fail WCAG
    74F2CE: #74F2CE,  // pass WCAG
    75B7F0: #75B7F0  // pass WCAG
);

// ---------------------APP WIDE CSS-----------------------
body {
    font-family: Content-font, Roboto, sans-serif;
}

.skip-to-content-link {
    left: 0%;
}

// Styling for 'Skip to x' link for accessibility technologies
.skip-link {
    height: 0px;
    width: 0px;
    color: black;
    opacity: 0%;
    z-index: 2;
    position: absolute;
    background: white;
    border: medium black;
    padding: 8px;
    pointer-events: none;
}
.skip-link:focus {
    height: auto;
    width: auto;
    opacity: 100%;
    pointer-events: all;
}

// Text to only be read by screen readers, hidden from normal view
.screen-reader-text {
    border:0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    width: 1px;
    overflow: hidden;
    position: absolute !important;
    word-wrap:normal !important;
 }

// Nice button style.  Currently used for 'filter by category' on course list page.
.nice-button {
    background-image: linear-gradient(150deg, rgba(0, 0, 0, 0), #0000004d);
    width: 160px;
    padding: 1em 0 !important;
    box-shadow: 0.2em 0.2em 1em 0 rgba(0, 0, 0, 0.089);
}

// Variation on nice-button for use on the team buttons
.team-button {
    background-image: linear-gradient(150deg, rgba(0, 0, 0, 0), #0000004d);
    width: 100%;
    padding: 0em 1 !important;
    box-shadow: 0.2em 0.2em 1em 0 rgba(0, 0, 0, 0.089);
}

// Card UI.  Adds rounded border and drop shadow
.card {
    padding: 10px 14px;
    margin: 1em 0;
    border-radius: 0.3em;
    border: 0.05em solid rgb(194, 194, 194);
    box-shadow: 0.1em 0.1em 0.6em 0 rgba(0, 0, 0, 0.075);
}

// Container for navbar.
.ct-navbar {
    background: map-get($theme-colors, "primary");
    color: white;
}


// Navbar link styling
nav > div > a.active {
    color: black;
    font-weight: 500;
    background: #ffffff;
}

nav > div > a {
    color: white;
    border-radius: 0.25rem;
    margin: 5px;
    margin-right: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

nav > div > a:hover {
    color: lightgrey;
}

// Loading spinner
.spinner-loading {
    margin-bottom: 1rem;
}

.header-filtercategory {
    font-size: 1.2rem;
    font-weight: 500;
}

// Messageboard
.messageboard {
    // height: 100rem;
    // overflow: auto;
}

.messageboard .messageboard-message {
    border-radius: 0.25rem;
}

.messageboard .messageboard-message:nth-child(odd) {
    background: #eeeeee;
}

// .messageboard:nth-child(even) {
//   background: blue;
// }

.messageboard-message-title {
    font-size: 1.1rem;
}

.messageboard-message .team-profile-photo {
    height: 3rem;
    width: 3rem;
    border-radius: 2rem;
}

.messageboard-message .team-profile-name {
    font-size: 0.75rem;
}

.messageboard-message-profile {
    width: 4rem;
}

.course-review-rating-col {
    min-height: 7rem;
}

.course-review-profile-name {
    position: absolute;
    bottom: 0;
    font-style: italic;
}

// -------------------------BOOTSTRAP IMPORT-------------------------------
@import "~bootstrap/scss/bootstrap";

@include media-breakpoint-up(md) {
    .ct-navbar {
        position: fixed;
        width: 100%/12*2;
        height: 100%;
    }
}

h2 {
    font-size: 1.8em;
}
