// ---------------------------BOOTSTRAP OVERRIDES-------------------------------
// New colours added to bootstrap CSS.  Can be used as variants of bootstrap
// components, eg 'btn-red'.
$theme-colors: (
    bgGrey: #e1e6e2,
    green: #189418,
    orange: #b35000,
    red: #b40000,
    purple: #7c35ff,
    navy: #0300bd,
    turquoise: #0099b4,
    primary: #404040,

);


// Type colours based on https://bulbapedia.bulbagarden.net/wiki/Category:Type_color_templates
$type-colors: (
    default: #68A090,
    bug: #A8B820,
    dark: #705848,
    dragon: #7038F8,
    electric: #F8D030,
    fairy: #EE99AC,
    fighting: #C03028,
    fire: #F08030,
    flying: #A890F0,
    ghost: #705898,
    grass: #78C850,
    ground: #E0C068,
    ice: #98D8D8,
    normal: #A8A878,
    poison: #A040A0,
    psychic: #F85888,
    rock: #B8A038,
    steel: #B8B8D0,
    water: #6890F0,

);

// ---------------------APP WIDE CSS-----------------------
body {
    font-family: Content-font, Roboto, sans-serif;
    background-color: #e1e6e2;
}
