.teamPlannerPage {
  font-weight: bold;
  flex-flow: column;
  height: 100%;
}

.titleText {
  text-align: center;
  font-size: 23px;
  margin-top: -35px;
  margin-bottom: 35px;
}

// PARTY DISPLAY -------------------------------------------------------------

.TeamMemberWrapper{
  border-bottom: solid 5px black;
  margin-bottom: 10px;

  background: #F5F5F5;
  z-index: 1;
  position: sticky;
  top: 0;
}

.TeamMembers {
  font-size: 20px;
  font-weight: bold;

  flex-grow: 1;
  align-self: center;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.TeamMember{
  flex: none;
  height: 200px;
  display: solid;
  cursor: pointer;
}

.TeamMember:hover > .OptionImages > .SelectionBaseImage{
  transform: rotate(38deg);
}

.SelectionText {
  text-align: center;
  transform: translateY(-10px);
  font-size: 18px;
  z-index: 2;
  height: 1.1em;
}

.OptionImages {
  z-index: -1;
  position: relative;
  top: -30px;
}

.SelectionBaseImage {
  position: absolute;
  z-index: -1;
}


.SelectionChoiceImage {
  position:  absolute;
  z-index: 1;
}

.typeDisplayDesktop {
  position: absolute;
  width: 130px;
  margin-left: auto;
  margin-right: auto;
  image-rendering: pixel;
  margin-top: 100px;
}

.typeDisplayDesktop > img{
  margin: auto;
  image-rendering: sharp-edges;
  margin-left: 5px;
}

.typeDisplayMobile > img{
  position: relative;
  top: 15px;
  left: 6px;
  margin: auto;
}

// PARTY OPTIONS -------------------------------------------------------------

@keyframes AnimBob {
  50% {
    transform: translate(-4px, -4px);
  }
}

.optionsBox {
  position: relative;
  //transform: translate(0px, -18px);
  margin-top: auto;
  margin-bottom: auto;

  flex: 1;
  flex-grow:1 ;
  flex-shrink: 1;
  overflow-y: auto;

  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

.selectionImage {
  margin: 4px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.selectionImage:hover > div{
  transform: scale(1.2);
}

.selectionImage > img {
  transform: translate(-4px, 3px);
  image-rendering: crisp-edges;
}

.selectionImage:hover > img {
  animation: AnimBob 0.5s steps(1) infinite both
}
